- content_for :title do
  e-learning
  \|
  All users

%h2
  Users:
  %span.badge.text-bg-secondary
    =@users.count

.form-inline
  = search_form_for @q do |f|
    %br
    = f.label :email_cont
    = f.search_field :email_cont, placeholder: 'email'

    = f.submit

/- @users.each do |user|
/  = render 'users/user', user: user


%table.table.table-bordered
  %thead
    %tr
      %th id
      %th= sort_link(@q, :email)
      %th created_at
      %th= 'sign_in_count'.humanize
      %th= 'current_sign_in_at'.humanize
      %th= 'last_sign_in_at'.humanize
      %th= 'current_sign_in_ip'.humanize
      %th= 'last_sign_in_ip'.humanize
      %th Confirmed?
      %th Roles
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= link_to user.email, user_path(user)
        %td= user.created_at
        %td= user.sign_in_count
        %td= user.current_sign_in_at
        %td= user.last_sign_in_at
        %td= user.current_sign_in_ip
        %td= user.last_sign_in_ip
        %td= user.confirmed?
        %td
          -user.roles.each do |role|
            .badge.bg-success
              =role.name
          %br
          = link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning d-flex justify-content-center m-1'
