-# frozen_string_literal: true
= simple_form_for(@lesson) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :content
    = f.label :course_id
    = f.select :course_id, Course.all.map { |course| [course.title, course.id] }, { include_blank: true }, { class: 'form-control' }

  %br
  .form-actions
    = f.button :submit
