.card.m-3
  .card-header
    = link_to lesson.title, course_lesson_path(lesson.course, lesson)
  - if policy(lesson).show?
    .card-body
      Content:
      = lesson.content
    %br
    = link_to lesson.course&.title, course_path(lesson.course)
  - if policy(lesson).edit?
    .card-footer
      = link_to 'Edit', edit_course_lesson_path(lesson.course, lesson), class: 'btn btn-sm btn-warning'
      = link_to 'Destroy', course_lesson_path(lesson.course, lesson), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'