%h1 Listing lessons

%table
  %thead
    %tr
      %th Title
      %th Content
      %th Course
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.title
        %td= lesson.content
        %td= link_to lesson.course&.title, course_path(lesson.course)
        %td= link_to 'Show', course_lesson_path(course_id: lesson.course_id, id: lesson.id)
        %td= link_to 'Edit', edit_course_lesson_path(course_id: lesson.course_id, id: lesson.id)
        %td= link_to 'Destroy', course_lesson_path(course_id: lesson.course_id, id: lesson.id), method: :delete, data: { confirm: 'Are you sure?' }
%br