%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} Rubygems
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          = link_to root_path, class: 'nav-link' do
            .fa.fa-home
            Home
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
          = link_to courses_path, class: 'nav-link' do
            .fa.fa-book
            Courses
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(users_path)}"}
          = link_to users_path, class: 'nav-link' do
            .fas.fa-users
            Users
        -#Collected with public activity gem
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(activities_path)}"}
          = link_to activities_path, class: 'nav-link' do
            .fa-solid.fa-bell
            Activities
      %ul.navbar-nav.mr-right
        .form-check-inline.my-2.my-lg-0
          = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
            = f.search_field :title_cont, placeholder: 'Search by Course Title', class: 'form-control'
      %ul.navbar-nav.mr-right
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          = link_to root_path, class: 'nav-link' do
            .fa.fa-home
            Another link
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
            %b= current_user.email
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            %li
              = link_to edit_user_registration_path, class: "dropdown-item" do
                .fa.fa-cog
                %b Account settings
            %li
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                .fa.fa-sign-out-alt
                %b Sign out
    - else
      %ul.navbar-nav
        %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
        %li.nav-item= link_to 'Log In', new_user_session_path, class: 'nav-link'